aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
chardet==4.0.0
charset-normalizer==2.0.8
discord.py==1.7.3
filelock==3.4.0
idna==3.3
multidict==5.2.0
pyasn1==0.4.8
pycodestyle==2.7.0
python-dotenv==0.19.1
toml==0.10.2
typing-extensions==3.10.0.2
uritools==3.0.2
urlextract==1.4.0
urllib3==1.26.7
yarl==1.7.2
